@chengxinsun26:registry=https://registry.npmjs.org
shamefully-hoist=true
public-hoist-pattern[]=*@tiptap*
public-hoist-pattern[]=*prosemirror*
public-hoist-pattern[]=*lowlight*
public-hoist-pattern[]=*hast-util-to-html*
